import React from "react";
import styled from "styled-components";

const StyledLogo1 = styled.div`
  width: 762px;
  height: 762px;
  left: 579px;
  top: 158px;
  position: absolute;
`;

const StyledEllipse2 = styled.div`
  width: 2742px;
  height: 1539px;
  left: -411px;
  top: -230px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 9999px;
`;

const StyledBackground = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPolygon1 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 1728.88px;
  top: 774.85px;
  position: absolute;
  transform: rotate(38deg);
  transform-origin: top left;
  background: white;
`;

const StyledYukdahygudahreadylangsungajespan = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon101 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 710.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse3 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 534px;
  position: absolute;
  background: #6AAEF9;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermukaspan = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon102 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 532.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse301 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 356px;
  position: absolute;
  background: #FEC2E6;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka01span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon103 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 354.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse302 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 178px;
  position: absolute;
  background: #C6DA83;
  border-radius: 9999px;
`;

const StyledEhemanginimauadaapaanspan = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon104 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 176.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse303 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  border-radius: 9999px;
`;

const StyledCungsiapayangmauduluanspan = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledTyping = styled.div`
  width: 1924px;
  height: 285px;
  left: 0px;
  top: 795px;
  position: absolute;
`;

const StyledLogo101 = styled.div`
  width: 762px;
  height: 762px;
  left: 579px;
  top: 158px;
  position: absolute;
`;

const StyledEllipse201 = styled.div`
  width: 2742px;
  height: 1539px;
  left: -411px;
  top: -230px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 9999px;
`;

const StyledBackground01 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPolygon105 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 1728.88px;
  top: 774.85px;
  position: absolute;
  transform: rotate(38deg);
  transform-origin: top left;
  background: white;
`;

const StyledYukdahygudahreadylangsungaje01span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon106 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 710.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse304 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 534px;
  position: absolute;
  background: #6AAEF9;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka02span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon107 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 532.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse305 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 356px;
  position: absolute;
  background: #FEC2E6;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka03span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon108 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 354.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse306 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 178px;
  position: absolute;
  background: #C6DA83;
  border-radius: 9999px;
`;

const StyledEhemanginimauadaapaan01span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon109 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 176.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse307 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  border-radius: 9999px;
`;

const StyledCungsiapayangmauduluan01span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledTyping01 = styled.div`
  width: 1924px;
  height: 285px;
  left: 0px;
  top: 795px;
  position: absolute;
`;

const StyledLogo102 = styled.div`
  width: 762px;
  height: 762px;
  left: 579px;
  top: 158px;
  position: absolute;
`;

const StyledEllipse202 = styled.div`
  width: 2742px;
  height: 1539px;
  left: -411px;
  top: -230px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 9999px;
`;

const StyledBackground02 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPolygon110 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 1728.88px;
  top: 774.85px;
  position: absolute;
  transform: rotate(38deg);
  transform-origin: top left;
  background: white;
`;

const StyledYukdahygudahreadylangsungaje02span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon111 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 710.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse308 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 534px;
  position: absolute;
  background: #6AAEF9;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka04span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon112 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 532.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse309 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 356px;
  position: absolute;
  background: #FEC2E6;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka05span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon113 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 354.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse310 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 178px;
  position: absolute;
  background: #C6DA83;
  border-radius: 9999px;
`;

const StyledEhemanginimauadaapaan02span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon114 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 176.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse311 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  border-radius: 9999px;
`;

const StyledCungsiapayangmauduluan02span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledTyping02 = styled.div`
  width: 1924px;
  height: 285px;
  left: 0px;
  top: 795px;
  position: absolute;
`;

const StyledLogo103 = styled.div`
  width: 762px;
  height: 762px;
  left: 579px;
  top: 158px;
  position: absolute;
`;

const StyledEllipse203 = styled.div`
  width: 2742px;
  height: 1539px;
  left: -411px;
  top: -230px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 9999px;
`;

const StyledBackground03 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPolygon115 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 1728.88px;
  top: 774.85px;
  position: absolute;
  transform: rotate(38deg);
  transform-origin: top left;
  background: white;
`;

const StyledYukdahygudahreadylangsungaje03span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon116 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 710.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse312 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 534px;
  position: absolute;
  background: #6AAEF9;
  border-radius: 9999px;
`;

const StyledAkudahreadynihhhhhhspan = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon117 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 532.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse313 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 356px;
  position: absolute;
  background: #FEC2E6;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka06span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon118 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 354.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse314 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 178px;
  position: absolute;
  background: #C6DA83;
  border-radius: 9999px;
`;

const StyledEhemanginimauadaapaan03span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon119 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 176.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse315 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  border-radius: 9999px;
`;

const StyledCungsiapayangmauduluan03span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledTyping03 = styled.div`
  width: 1924px;
  height: 285px;
  left: 0px;
  top: 795px;
  position: absolute;
`;

const StyledLogo104 = styled.div`
  width: 762px;
  height: 762px;
  left: 579px;
  top: 158px;
  position: absolute;
`;

const StyledEllipse204 = styled.div`
  width: 2742px;
  height: 1539px;
  left: -411px;
  top: -230px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 9999px;
`;

const StyledBackground04 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPolygon120 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 1728.88px;
  top: 774.85px;
  position: absolute;
  transform: rotate(38deg);
  transform-origin: top left;
  background: white;
`;

const StyledYukdahygudahreadylangsungaje04span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon121 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 710.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse316 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 534px;
  position: absolute;
  background: #6AAEF9;
  border-radius: 9999px;
`;

const StyledAkudahreadynihhhhhh01span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon122 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 532.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse317 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 356px;
  position: absolute;
  background: #FEC2E6;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka07span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon123 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 354.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse318 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 178px;
  position: absolute;
  background: #C6DA83;
  border-radius: 9999px;
`;

const StyledEhemanginimauadaapaan04span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon124 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 176.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse319 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  border-radius: 9999px;
`;

const StyledCungsiapayangmauduluan04span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledTyping04 = styled.div`
  width: 1924px;
  height: 285px;
  left: 0px;
  top: 795px;
  position: absolute;
`;

const StyledLogo105 = styled.div`
  width: 762px;
  height: 762px;
  left: 579px;
  top: 158px;
  position: absolute;
`;

const StyledEllipse205 = styled.div`
  width: 2742px;
  height: 1539px;
  left: -411px;
  top: -230px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 9999px;
`;

const StyledBackground05 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPolygon125 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 1728.88px;
  top: 774.85px;
  position: absolute;
  transform: rotate(38deg);
  transform-origin: top left;
  background: white;
`;

const StyledYukdahygudahreadylangsungaje05span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon126 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 710.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse320 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 534px;
  position: absolute;
  background: #6AAEF9;
  border-radius: 9999px;
`;

const StyledAkudahreadynihhhhhh02span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon127 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 532.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse321 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 356px;
  position: absolute;
  background: #FEC2E6;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka08span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon128 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 354.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse322 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 178px;
  position: absolute;
  background: #C6DA83;
  border-radius: 9999px;
`;

const StyledEhemanginimauadaapaan05span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon129 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 176.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse323 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  border-radius: 9999px;
`;

const StyledCungsiapayangmauduluan05span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledTyping05 = styled.div`
  width: 1924px;
  height: 285px;
  left: 0px;
  top: 795px;
  position: absolute;
`;

const StyledLogo106 = styled.div`
  width: 762px;
  height: 762px;
  left: 579px;
  top: 158px;
  position: absolute;
`;

const StyledEllipse206 = styled.div`
  width: 1px;
  height: 1px;
  left: 960px;
  top: 540px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 9999px;
`;

const StyledBackground06 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPolygon130 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 1728.88px;
  top: 774.85px;
  position: absolute;
  transform: rotate(38deg);
  transform-origin: top left;
  background: white;
`;

const StyledYukdahygudahreadylangsungaje06span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon131 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 710.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse324 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 534px;
  position: absolute;
  background: #6AAEF9;
  border-radius: 9999px;
`;

const StyledAkudahreadynihhhhhh03span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon132 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 532.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse325 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 356px;
  position: absolute;
  background: #FEC2E6;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka09span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon133 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 354.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse326 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 178px;
  position: absolute;
  background: #C6DA83;
  border-radius: 9999px;
`;

const StyledEhemanginimauadaapaan06span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon134 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 176.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse327 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  border-radius: 9999px;
`;

const StyledCungsiapayangmauduluan06span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledTyping06 = styled.div`
  width: 1924px;
  height: 285px;
  left: 0px;
  top: 795px;
  position: absolute;
`;

const StyledLogo107 = styled.div`
  width: 762px;
  height: 762px;
  left: 579px;
  top: 158px;
  position: absolute;
`;

const StyledEllipse207 = styled.div`
  width: 1px;
  height: 1px;
  left: 960px;
  top: 540px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 9999px;
`;

const StyledBackground07 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPolygon135 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 1728.88px;
  top: 774.85px;
  position: absolute;
  transform: rotate(38deg);
  transform-origin: top left;
  background: white;
`;

const StyledYukdahygudahreadylangsungaje07span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon136 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 710.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse328 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 534px;
  position: absolute;
  background: #6AAEF9;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka10span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon137 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 532.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse329 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 356px;
  position: absolute;
  background: #FEC2E6;
  border-radius: 9999px;
`;

const StyledKanhariinipadamaupamermuka11span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon138 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 354.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse330 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 178px;
  position: absolute;
  background: #C6DA83;
  border-radius: 9999px;
`;

const StyledEhemanginimauadaapaan07span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledPolygon139 = styled.div`
  width: 65.92px;
  height: 92.43px;
  left: 223.12px;
  top: 176.29px;
  position: absolute;
  transform: rotate(-142deg);
  transform-origin: top left;
  background: white;
`;

const StyledEllipse331 = styled.div`
  width: 140px;
  height: 140px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  border-radius: 9999px;
`;

const StyledCungsiapayangmauduluan07span = styled.span`
  color: black;
  font-size: 66px;
  font-family: ZT Bros Oskon 90s;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledTyping07 = styled.div`
  width: 1924px;
  height: 285px;
  left: 0px;
  top: 795px;
  position: absolute;
`;

const StyledFrame2 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 1744px;
  top: 834.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame201 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 545.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame202 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 367.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame203 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 189.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame204 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 11.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame206 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 1744px;
  top: 834.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame207 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 545.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame208 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 367.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame209 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 189.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame210 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 11.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame211 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 1744px;
  top: 834.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame212 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 545.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame213 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 367.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame214 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 189.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame215 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 11.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame216 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 1744px;
  top: 834.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame217 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 545.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame218 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 367.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame219 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 189.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame220 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 11.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame221 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 1744px;
  top: 834.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame222 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 545.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame223 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 367.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame224 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 189.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame225 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 11.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame226 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 1744px;
  top: 834.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame227 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 545.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame228 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 367.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame229 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 189.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame230 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 11.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame231 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 1744px;
  top: 834.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame232 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 545.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame233 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 367.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame234 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 189.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame235 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 11.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame236 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 1744px;
  top: 834.50px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: top left;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame237 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 545.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame238 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 367.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame239 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 189.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledFrame240 = styled.div`
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 208px;
  top: 11.50px;
  position: absolute;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
`;

const StyledBubblechats = styled.div`
  width: 1781.03px;
  height: 888.29px;
  left: 69px;
  top: 865px;
  position: absolute;
`;

const StyledBubblechats01 = styled.div`
  width: 1781.03px;
  height: 888.29px;
  left: 69px;
  top: 680px;
  position: absolute;
`;

const StyledBubblechats02 = styled.div`
  width: 1781.03px;
  height: 888.29px;
  left: 69px;
  top: 501px;
  position: absolute;
`;

const StyledBubblechats03 = styled.div`
  width: 1781.03px;
  height: 888.29px;
  left: 69px;
  top: 322px;
  position: absolute;
`;

const StyledBubblechats04 = styled.div`
  width: 1781.03px;
  height: 888.29px;
  left: 69px;
  top: 140px;
  position: absolute;
`;

const StyledBubblechats05 = styled.div`
  width: 1781.03px;
  height: 888.29px;
  left: 69px;
  top: -37px;
  position: absolute;
`;

const StyledBubblechats06 = styled.div`
  width: 1781.03px;
  height: 888.29px;
  left: 69px;
  top: -37px;
  position: absolute;
`;

const StyledBubblechats07 = styled.div`
  width: 1781.03px;
  height: 888.29px;
  left: 69px;
  top: 860px;
  position: absolute;
`;

const StyledFrame1 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4A4F87;
  overflow: hidden;
`;

const StyledFrame205 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 1328px;
  position: absolute;
  background: #4A4F87;
  overflow: hidden;
`;

const StyledFrame3 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 2727px;
  position: absolute;
  background: #4A4F87;
  overflow: hidden;
`;

const StyledFrame4 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 4108px;
  position: absolute;
  background: #4A4F87;
  overflow: hidden;
`;

const StyledFrame5 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 5449px;
  position: absolute;
  background: #4A4F87;
  overflow: hidden;
`;

const StyledFrame6 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 6790px;
  position: absolute;
  background: #4A4F87;
  overflow: hidden;
`;

const StyledFrame7 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 8181px;
  position: absolute;
  background: #4A4F87;
  overflow: hidden;
`;

const StyledFrame8 = styled.div`
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 9529px;
  position: absolute;
  background: #4A4F87;
  overflow: hidden;
`;

const StyledCoverctreveal = styled.div`
  width: 4074px;
  height: 9261px;
  position: relative;
`;

export const CoverCtReveal = () => {
  return (
    <StyledCoverctreveal>
      <StyledFrame1>
        <StyledLogo1  src="https://placehold.co/762x762"/>
        <StyledEllipse2 />
        <StyledBackground  src="https://placehold.co/1920x1080"/>
        <StyledBubblechats>
          <StyledPolygon1 />
          <StyledFrame2>
            <StyledYUKDAHYGUDAHREADYLANGSUNGAJE>YUK DAH YG UDAH READY LANGSUNG AJE</StyledYUKDAHYGUDAHREADYLANGSUNGAJE>
          </StyledFrame2>
          <StyledPolygon101 />
          <StyledEllipse3 />
          <StyledFrame201>
            <StyledKanhariinipadamaupamermuka>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka>
          </StyledFrame201>
          <StyledPolygon102 />
          <StyledEllipse301 />
          <StyledFrame202>
            <StyledKanhariinipadamaupamermuka01>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka01>
          </StyledFrame202>
          <StyledPolygon103 />
          <StyledEllipse302 />
          <StyledFrame203>
            <StyledEHEmanginimauadaapaan>EH... Emang ini mau ada apaan?</StyledEHEmanginimauadaapaan>
          </StyledFrame203>
          <StyledPolygon104 />
          <StyledEllipse303 />
          <StyledFrame204>
            <StyledCungsiapayangmauduluan>Cung siapa yang mau duluan???</StyledCungsiapayangmauduluan>
          </StyledFrame204>
        </StyledBubblechats>
        <StyledTyping  src="https://placehold.co/1924x285"/>
      </StyledFrame1>
      <StyledFrame205>
        <StyledLogo101  src="https://placehold.co/762x762"/>
        <StyledEllipse201 />
        <StyledBackground01  src="https://placehold.co/1920x1080"/>
        <StyledBubblechats01>
          <StyledPolygon105 />
          <StyledFrame206>
            <StyledYUKDAHYGUDAHREADYLANGSUNGAJE01>YUK DAH YG UDAH READY LANGSUNG AJE</StyledYUKDAHYGUDAHREADYLANGSUNGAJE01>
          </StyledFrame206>
          <StyledPolygon106 />
          <StyledEllipse304 />
          <StyledFrame207>
            <StyledKanhariinipadamaupamermuka02>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka02>
          </StyledFrame207>
          <StyledPolygon107 />
          <StyledEllipse305 />
          <StyledFrame208>
            <StyledKanhariinipadamaupamermuka03>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka03>
          </StyledFrame208>
          <StyledPolygon108 />
          <StyledEllipse306 />
          <StyledFrame209>
            <StyledEHEmanginimauadaapaan01>EH... Emang ini mau ada apaan?</StyledEHEmanginimauadaapaan01>
          </StyledFrame209>
          <StyledPolygon109 />
          <StyledEllipse307 />
          <StyledFrame210>
            <StyledCungsiapayangmauduluan01>Cung siapa yang mau duluan???</StyledCungsiapayangmauduluan01>
          </StyledFrame210>
        </StyledBubblechats01>
        <StyledTyping01  src="https://placehold.co/1924x285"/>
      </StyledFrame205>
      <StyledFrame3>
        <StyledLogo102  src="https://placehold.co/762x762"/>
        <StyledEllipse202 />
        <StyledBackground02  src="https://placehold.co/1920x1080"/>
        <StyledBubblechats02>
          <StyledPolygon110 />
          <StyledFrame211>
            <StyledYUKDAHYGUDAHREADYLANGSUNGAJE02>YUK DAH YG UDAH READY LANGSUNG AJE</StyledYUKDAHYGUDAHREADYLANGSUNGAJE02>
          </StyledFrame211>
          <StyledPolygon111 />
          <StyledEllipse308 />
          <StyledFrame212>
            <StyledKanhariinipadamaupamermuka04>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka04>
          </StyledFrame212>
          <StyledPolygon112 />
          <StyledEllipse309 />
          <StyledFrame213>
            <StyledKanhariinipadamaupamermuka05>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka05>
          </StyledFrame213>
          <StyledPolygon113 />
          <StyledEllipse310 />
          <StyledFrame214>
            <StyledEHEmanginimauadaapaan02>EH... Emang ini mau ada apaan?</StyledEHEmanginimauadaapaan02>
          </StyledFrame214>
          <StyledPolygon114 />
          <StyledEllipse311 />
          <StyledFrame215>
            <StyledCungsiapayangmauduluan02>Cung siapa yang mau duluan???</StyledCungsiapayangmauduluan02>
          </StyledFrame215>
        </StyledBubblechats02>
        <StyledTyping02  src="https://placehold.co/1924x285"/>
      </StyledFrame3>
      <StyledFrame4>
        <StyledLogo103  src="https://placehold.co/762x762"/>
        <StyledEllipse203 />
        <StyledBackground03  src="https://placehold.co/1920x1080"/>
        <StyledBubblechats03>
          <StyledPolygon115 />
          <StyledFrame216>
            <StyledYUKDAHYGUDAHREADYLANGSUNGAJE03>YUK DAH YG UDAH READY LANGSUNG AJE</StyledYUKDAHYGUDAHREADYLANGSUNGAJE03>
          </StyledFrame216>
          <StyledPolygon116 />
          <StyledEllipse312 />
          <StyledFrame217>
            <StyledAkudahreadynihhhhhh>Aku dah ready nihhhhhh</StyledAkudahreadynihhhhhh>
          </StyledFrame217>
          <StyledPolygon117 />
          <StyledEllipse313 />
          <StyledFrame218>
            <StyledKanhariinipadamaupamermuka06>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka06>
          </StyledFrame218>
          <StyledPolygon118 />
          <StyledEllipse314 />
          <StyledFrame219>
            <StyledEHEmanginimauadaapaan03>EH... Emang ini mau ada apaan?</StyledEHEmanginimauadaapaan03>
          </StyledFrame219>
          <StyledPolygon119 />
          <StyledEllipse315 />
          <StyledFrame220>
            <StyledCungsiapayangmauduluan03>Cung siapa yang mau duluan???</StyledCungsiapayangmauduluan03>
          </StyledFrame220>
        </StyledBubblechats03>
        <StyledTyping03  src="https://placehold.co/1924x285"/>
      </StyledFrame4>
      <StyledFrame5>
        <StyledLogo104  src="https://placehold.co/762x762"/>
        <StyledEllipse204 />
        <StyledBackground04  src="https://placehold.co/1920x1080"/>
        <StyledBubblechats04>
          <StyledPolygon120 />
          <StyledFrame221>
            <StyledYUKDAHYGUDAHREADYLANGSUNGAJE04>YUK DAH YG UDAH READY LANGSUNG AJE</StyledYUKDAHYGUDAHREADYLANGSUNGAJE04>
          </StyledFrame221>
          <StyledPolygon121 />
          <StyledEllipse316 />
          <StyledFrame222>
            <StyledAkudahreadynihhhhhh01>Aku dah ready nihhhhhh</StyledAkudahreadynihhhhhh01>
          </StyledFrame222>
          <StyledPolygon122 />
          <StyledEllipse317 />
          <StyledFrame223>
            <StyledKanhariinipadamaupamermuka07>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka07>
          </StyledFrame223>
          <StyledPolygon123 />
          <StyledEllipse318 />
          <StyledFrame224>
            <StyledEHEmanginimauadaapaan04>EH... Emang ini mau ada apaan?</StyledEHEmanginimauadaapaan04>
          </StyledFrame224>
          <StyledPolygon124 />
          <StyledEllipse319 />
          <StyledFrame225>
            <StyledCungsiapayangmauduluan04>Cung siapa yang mau duluan???</StyledCungsiapayangmauduluan04>
          </StyledFrame225>
        </StyledBubblechats04>
        <StyledTyping04  src="https://placehold.co/1924x285"/>
      </StyledFrame5>
      <StyledFrame6>
        <StyledLogo105  src="https://placehold.co/762x762"/>
        <StyledEllipse205 />
        <StyledBackground05  src="https://placehold.co/1920x1080"/>
        <StyledBubblechats05>
          <StyledPolygon125 />
          <StyledFrame226>
            <StyledYUKDAHYGUDAHREADYLANGSUNGAJE05>YUK DAH YG UDAH READY LANGSUNG AJE</StyledYUKDAHYGUDAHREADYLANGSUNGAJE05>
          </StyledFrame226>
          <StyledPolygon126 />
          <StyledEllipse320 />
          <StyledFrame227>
            <StyledAkudahreadynihhhhhh02>Aku dah ready nihhhhhh</StyledAkudahreadynihhhhhh02>
          </StyledFrame227>
          <StyledPolygon127 />
          <StyledEllipse321 />
          <StyledFrame228>
            <StyledKanhariinipadamaupamermuka08>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka08>
          </StyledFrame228>
          <StyledPolygon128 />
          <StyledEllipse322 />
          <StyledFrame229>
            <StyledEHEmanginimauadaapaan05>EH... Emang ini mau ada apaan?</StyledEHEmanginimauadaapaan05>
          </StyledFrame229>
          <StyledPolygon129 />
          <StyledEllipse323 />
          <StyledFrame230>
            <StyledCungsiapayangmauduluan05>Cung siapa yang mau duluan???</StyledCungsiapayangmauduluan05>
          </StyledFrame230>
        </StyledBubblechats05>
        <StyledTyping05  src="https://placehold.co/1924x285"/>
      </StyledFrame6>
      <StyledFrame7>
        <StyledLogo106  src="https://placehold.co/762x762"/>
        <StyledEllipse206 />
        <StyledBackground06  src="https://placehold.co/1920x1080"/>
        <StyledBubblechats06>
          <StyledPolygon130 />
          <StyledFrame231>
            <StyledYUKDAHYGUDAHREADYLANGSUNGAJE06>YUK DAH YG UDAH READY LANGSUNG AJE</StyledYUKDAHYGUDAHREADYLANGSUNGAJE06>
          </StyledFrame231>
          <StyledPolygon131 />
          <StyledEllipse324 />
          <StyledFrame232>
            <StyledAkudahreadynihhhhhh03>Aku dah ready nihhhhhh</StyledAkudahreadynihhhhhh03>
          </StyledFrame232>
          <StyledPolygon132 />
          <StyledEllipse325 />
          <StyledFrame233>
            <StyledKanhariinipadamaupamermuka09>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka09>
          </StyledFrame233>
          <StyledPolygon133 />
          <StyledEllipse326 />
          <StyledFrame234>
            <StyledEHEmanginimauadaapaan06>EH... Emang ini mau ada apaan?</StyledEHEmanginimauadaapaan06>
          </StyledFrame234>
          <StyledPolygon134 />
          <StyledEllipse327 />
          <StyledFrame235>
            <StyledCungsiapayangmauduluan06>Cung siapa yang mau duluan???</StyledCungsiapayangmauduluan06>
          </StyledFrame235>
        </StyledBubblechats06>
        <StyledTyping06  src="https://placehold.co/1924x285"/>
      </StyledFrame7>
      <StyledFrame8>
        <StyledLogo107  src="https://placehold.co/762x762"/>
        <StyledEllipse207 />
        <StyledBackground07  src="https://placehold.co/1920x1080"/>
        <StyledBubblechats07>
          <StyledPolygon135 />
          <StyledFrame236>
            <StyledYUKDAHYGUDAHREADYLANGSUNGAJE07>YUK DAH YG UDAH READY LANGSUNG AJE</StyledYUKDAHYGUDAHREADYLANGSUNGAJE07>
          </StyledFrame236>
          <StyledPolygon136 />
          <StyledEllipse328 />
          <StyledFrame237>
            <StyledKanhariinipadamaupamermuka10>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka10>
          </StyledFrame237>
          <StyledPolygon137 />
          <StyledEllipse329 />
          <StyledFrame238>
            <StyledKanhariinipadamaupamermuka11>Kan hari ini pada mau pamer muka!</StyledKanhariinipadamaupamermuka11>
          </StyledFrame238>
          <StyledPolygon138 />
          <StyledEllipse330 />
          <StyledFrame239>
            <StyledEHEmanginimauadaapaan07>EH... Emang ini mau ada apaan?</StyledEHEmanginimauadaapaan07>
          </StyledFrame239>
          <StyledPolygon139 />
          <StyledEllipse331 />
          <StyledFrame240>
            <StyledCungsiapayangmauduluan07>Cung siapa yang mau duluan???</StyledCungsiapayangmauduluan07>
          </StyledFrame240>
        </StyledBubblechats07>
        <StyledTyping07  src="https://placehold.co/1924x285"/>
      </StyledFrame8>
    </StyledCoverctreveal>
  );
};
